# Le dataset brut
Dataset brute

# L'environnement virtuel
.venv

# Le dataset augmenté
dataset_augmente
Dataset brute

# Les fichiers de configuration
*.env

# Les fichiers de cache
__pycache__

# Les fichiers de logs
*.log
